<mat-toolbar class="toolbarbackgroundcolor"><span class="Toolbaradjustment">Display Cards</span></mat-toolbar>
<div *ngIf = "Viewdata == null">
<div class="col-sm-12 mt-3">
  <div class="col-sm-4 marginset">
    <mat-form-field appearance="outline">
      <mat-label>Display Card Group</mat-label>
      <mat-select [(ngModel)]=GroupId required (selectionChange)="Groupdata($event)">
        <mat-option *ngFor="let mcardgroup of mCardGroup"  [value]="mcardgroup?.VALUE_ID">
          {{mcardgroup?.MEANING}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-10 mt-2">
      <div class="row MeasureTable">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0">
         
          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef>
              <mat-icon class="add mr-4 "(click)="addrow()" >add</mat-icon> </th>
            <td mat-cell *matCellDef="let element,let i=index">
              <mat-icon class=" clear mr-2" [disabled] = "element.enable" (click)="deleterow(i)">clear</mat-icon> </td>
          </ng-container>

          <ng-container matColumnDef="LISTED_PARTY_ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Listed party</th>
            <td mat-cell *matCellDef="let element; let i= index">  
              <mat-form-field appearance="outline">
               
              <mat-select  [disabled] = "element.enable"  [(ngModel)]=element.LISTED_PARTY_ID (selectionChange)="groupids($event,i)">
                <mat-option  *ngFor="let Listedparty of Listedparty" [value]="Listedparty?.LISTED_PARTY_ID">
                  {{Listedparty?.LISTED_PARTY_FIRST_NAME}}
                </mat-option>
                
              </mat-select>
            </mat-form-field> 
               </td>
          </ng-container>

          <ng-container matColumnDef="CARD_DISPLAY_NAME">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Card display name</th>
            <td mat-cell *matCellDef="let element; let i=index">  
               <mat-form-field appearance="outline">
              <mat-label></mat-label>
              <input maxlength="50" matInput (change)="NameValidate($event,i)"  [disabled] = "element.enable" [(ngModel)]=element.CARD_DISPLAY_NAME>
            </mat-form-field> </td>
          </ng-container>

          <ng-container matColumnDef="CARD_DISPLAY_DESC">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Card display description</th>
            <td mat-cell *matCellDef="let element; let i = index"> 
              <mat-form-field appearance="outline" >
                <mat-label></mat-label>
                <textarea maxlength="200" matInput (change)="DescValidate($event,i)" [disabled] = "element.enable" [(ngModel)]=element.CARD_DISPLAY_DESC></textarea>
               
              </mat-form-field>   </td>
          </ng-container>
          <ng-container matColumnDef="CardImageName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
            <td mat-cell *matCellDef="let element; let i= index" class="p-0">
              <img class="img p-0"  (click)="file.click()" [src]="element.image" /> 
              <input [disabled] = "element.enable" hidden accept="image/*" class="form-control-file" (change)="onFileSelected($event,i)" max="200"
                        aria-describedby="fileHelp" type="file" onclick="this.value = null" #file>
            </td>
          </ng-container>

          <ng-container matColumnDef="ITEM_DIVISION_CODE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Item division name</th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="outline">
                <mat-select [disabled] = "element.enable" (selectionChange)="Indexdata($event)" [(ngModel)]=element.ITEM_DIVISION_CODE>
                  <mat-option *ngFor="let Division of DivisionName" [value]="Division?.MTL_CLASS_CODE">
                    {{Division?.MTL_CLASS_DESC}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="Active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
            <td mat-cell *matCellDef="let element">
              <section class="example-section ml-4">
                
                <mat-checkbox [disabled] = "element.enable" [(ngModel)]=element.Status ></mat-checkbox>
              </section>
            </td>
          </ng-container>

          <tr class="TableHeaderStyle" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-1 p-1">
      <button mat-raised-button [disabled] = "" (click)=submit() type="button" class="save">Submit</button>
    </div>
    <div class="col-sm-1 p-1">
      <button mat-raised-button type="button" (click)= view() class="view">View</button>
    </div>
    <div class="col-sm-1 p-1">
      <button mat-raised-button type="button" (click)= clear() class="Cancel">Cancel</button>
    </div>
  </div>
</div>
</div>
<div *ngIf = "Viewdata !=null">
  <div class="col-sm-2 p-1">
    <button mat-raised-button type="button" (click)= previous() class="view">Previous</button>
  </div>
  
    
  
  <div class="col-sm-12 mt-5">
    <div class="row justify-content-center">
      <div class="col-sm-10 ">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input (input)="Filter($event.target.value)" matInput placeholder="Search">
        </mat-form-field>
      </div>
      <div class="col-sm-10">
        <div class="row MeasureTable">
          <table mat-table [dataSource]="ViewSource" matSort class="mat-elevation-z0">
            <ng-container matColumnDef="ListedPartys">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Listed party name</th>
              <td mat-cell *matCellDef="let ViewDisplay" matTooltip="{{ViewDisplay?.LISTED_PARTY_FIRST_NAME}}">
                {{ (ViewDisplay?.LISTED_PARTY_FIRST_NAME.length>15)? (ViewDisplay?.LISTED_PARTY_FIRST_NAME| slice:0:15)+'...':(ViewDisplay?.LISTED_PARTY_FIRST_NAME) }}</td>
            </ng-container>
    
            <ng-container matColumnDef="CardDisplayNames">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Card display name</th>
              <td mat-cell *matCellDef="let ViewDisplay" matTooltip="{{ViewDisplay?.CARD_DISPLAY_NAME}}"> 
                {{ (ViewDisplay?.CARD_DISPLAY_NAME.length>20)? (ViewDisplay?.CARD_DISPLAY_NAME| slice:0:20)+'...':(ViewDisplay?.CARD_DISPLAY_NAME) }}
              </td>
            </ng-container>
    
            <ng-container matColumnDef="CardDisplayDescriptions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Card display description</th>
              <td mat-cell *matCellDef="let ViewDisplay" matTooltip="{{ViewDisplay?.CARD_DISPLAY_DESC}}">
                {{ (ViewDisplay?.CARD_DISPLAY_DESC.length>20)? (ViewDisplay?.CARD_DISPLAY_DESC| slice:0:20)+'...':(ViewDisplay?.CARD_DISPLAY_DESC) }}</td>
            </ng-container>
    
            <ng-container matColumnDef="ItemDivisionCodes">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Item division name</th>
              <td mat-cell *matCellDef="let ViewDisplay" matTooltip="{{ViewDisplay?.MTL_CLASS_SHORT_DESCL}}">{{ViewDisplay?.MTL_CLASS_SHORT_DESC}}</td>
            </ng-container>
    
            <ng-container matColumnDef="Actives">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
              <td mat-cell *matCellDef="let ViewDisplay"><mat-checkbox [(ngModel)]=ViewDisplay.Status [disabled]="true"></mat-checkbox> </td>
            </ng-container>
    
            <ng-container matColumnDef="DISPLAY_CARD_ID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
              <td mat-cell *matCellDef="let ViewDisplay">
                <mat-icon mat-icon-button type="button" (click)="edit(ViewDisplay.DISPLAY_CARD_ID)" class="footerIconFour">create
                </mat-icon>
              </td>
            </ng-container>
    
            <!-- <ng-container matColumnDef=Active>
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let ViewDisplay">
                <mat-icon mat-icon-button class="footerIconFour">create
                </mat-icon>
              </td>
            </ng-container> -->
    
            <tr class="TableHeaderStyle" mat-header-row *matHeaderRowDef="ViwColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let ViewDisplay; columns: ViwColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>