.Toolbaradjustment{
    margin:  0 auto;
    color: white;
    font-size: 20px !important;
    font-weight: bold;
}
.toolbarbackgroundcolor{
    background-color: rgba(0, 187, 255, 0.967);
}
.clear{
    color: red;
    cursor: pointer;
}
.add{
    color: blue;
    cursor: pointer;
}
.img{
    height: 45px;
    width: 100px;
    vertical-align: middle;
    cursor: pointer;
}
::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
    padding-top :0;
 }
 ::ng-deep .mat-form-field-infix{
     padding-top: 7px !important;
     padding-bottom: 12px !important;
 }
.mat-form-field{
    width: 100%;
    font-size: 14px;
}
.save{
    background-color: #2ECC40;
    color: white;
    font-weight: bold;
    width: 100%;
}
.view{
    background-color: #F433AB;
    color: white;
    font-weight: bold;
    width: 100%;
}
.Cancel{
    background-color: red;
    color: white;
    font-weight: bold;
    width: 100%;
}
.previous{
    background-color: rgba(235, 207, 229, 0.652);
}
.footerIconFour{
    cursor: pointer;
}
.marginset{
    margin-left: 80px !important;
}
.MeasureTable{
    overflow: auto;
    height: 50vh;
        table{
            width: 100%;
            tr.mat-footer-row, tr.mat-row {
                height: 40px;
            }
            .mat-column-unit{
                width: 12% !important;
                white-space: normal;
                word-wrap: break-word;
            }
            ::ng-deep .mat-form-field-wrapper {
               padding-bottom: 0;
               padding-top :0;
            }
            ::ng-deep .mat-form-field-infix{
                padding-top: 0px !important;
                padding-bottom: 4px !important;
            }
        }
}
//Global Mat Table Alternate Row Color

.mat-row:nth-child(even){
    background-color:color(MatRowColor);
    }

.mat-row:nth-child(odd){
    background-color:color(basic);
    }

//Global Mat Sort Header Icon Color
.mat-sort-header-arrow {
        color: color(basic) !important;
}
//Global Mat Table ROw OnHover Color Change
.mat-row:hover {
    background-color: color(MatOnHoverColor);
}
